{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Manage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon-16x16.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Open Sans", sans-serif
        }
    </style>
</head>

<body class="w3-theme-l5">

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete project <p class="text-danger">
                            {{projs.pname}}</p>
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/delete_project/{{projs.id}}">
                        {% csrf_token %}
                        <p class="alert alert-info">Please enter your account password and Admin's password to delete <strong>{{projs.pname}}</strong>. </p>
                        <div class="mb-3">
                            <label for="recipient-" class="col-form-label">Account Password:</label>
                            <input type="password" class="form-control" name="p" id="College" required>
                        </div>
                        <div class="mb-3">
                            <label for="recipient" class="col-form-label">Admin's Password:</label>
                            <input type="password" class="form-control" name="sir_p" id="Colleg" required>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
        <a class="navbar-brand" href="/home/{{request.user}}">ProjectCart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home/{{request.user}}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/user_projects/{{request.user}}">Your Projects<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/add/{{request.user}}">Add<span class="sr-only">(current)</span></a>
                </li>


                <div class="dropdown ml-3">
                    <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{request.user}}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>

            </ul>



            <form class="form-inline" action="/search/" method="post">
                {% csrf_token %}
                <input class="form-control mr-sm-2" name="search" type="search" placeholder="@Username , #projects"
                    aria-label="Search" required  minlength="4" maxlength="15">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>



        </div>
    </nav>



    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" id="myAlert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>{{ message }}</strong>
        <div id="progressBar" class="progress" style="height: 5px; margin-top: 10px; background-color: transparent;">
            <div id="progressBarInner" class="progress-bar bg-{{ message.tags }} " role="progressbar" style="width: 0%; transition: width 3s ease;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <script>
        // Set the countdown timer to 5 seconds
        var timeleft = 3;
        var progressBarWidth = 0;
        var progressBar = document.getElementById("progressBarInner");
        var countdownTimer = setInterval(function(){
            progressBarWidth += 100; // increment progress bar width
            progressBar.style.width = progressBarWidth + '%'; 
            progressBar.setAttribute('aria-valuenow', progressBarWidth);
            timeleft -= 1;
            if(timeleft <= 0){
                clearInterval(countdownTimer);
                $('#myAlert').alert('close');
            }
        }, 1000);
    </script>
    {% endfor %}
    {% endif %}

    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:50px">
        <!-- The Grid -->
        <div class="w3-row">
            <!-- Left Column -->
            <div class="w3-col m3">
                <!-- Profile -->
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container">
                        <p class="w3-center mt-4"><img src="{{owner.photo.url}}" alt="image" class="w3-circle"
                                style="width:50px; height: 50px;"></p>
                        <h4 class="w3-center h3">{{projs.stud}}</h4>
                        <hr>
                        <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-dark"></i>{{owner.bio}}</p>
                        <p><i class="fa-solid fa-graduation-cap w3-margin-right w3-text-dark"></i> {{owner.college}}</p>
                        <p><i class="fa-regular fa-calendar w3-margin-right w3-text-dark"></i> {{owner.sem}}</p>
                        <p></i>
                            <i class="fa-solid fa-link  w3-margin-right"></i>

                            <a href="{{projs.link}}" class="text-decoration-none">{{owner.github}}</a>
                        </p>
                    </div>
                </div>

                <br>

                <!-- Interests -->
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container">
                        <p>Tech Stacks</p>
                        <p>
                            {% for s in stacks %}
                            <span class="w3-tag w3-small w3-theme-d5 rounded-lg">{{s}}</span>
                            {% endfor %}
                        </p>
                    </div>
                </div>
                <br>
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container">
                        <p>Domain</p>
                        <p>
                            <span class="w3-tag w3-small w3-theme-d1 p-2 rounded-lg">{{projs.domain}}</span>
                        </p>
                        <p><i class="fa-brands fa-github fa-2xl w3-margin-right"></i>

                            <a class="text-decoration-none" style="word-wrap: break-word;" href="{{projs.link}}">{{projs.link}}</a>
                        </p>
                    </div>
                </div>
                <br>
                <!-- End Left Column -->
            </div>

            <!-- Middle Column -->
            <div class="w3-col m7">



                <div class="w3-container w3-card w3-white w3-round w3-margin mt-0"><br>

                    <div class="dropdown w3-right mb-2">
                        <a role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fa-solid fa-bars fa-xl"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item mb-1" href="/edit_project/{{projs.id}}">Edit</a>
                            <hr>
                            <a class="dropdown-item mb" type="button"
                                class="w3-button w3-green w3-margin-bottom rounded-lg" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Delete</a>
                        </div>
                        
                    </div>


                    <h3>{{projs.pname}}</h3><br>

                    <hr class="w3-clear mt-0">
                    <p>{{projs.desc}}</p>
                    <div class="w3-row-padding" style="margin:0 -16px">
                        <div class="center-block m-5">
                            <img src="{{projs.image.url}}" style="width:100%;" alt="image" class="w3-margin-bottom">
                            <!-- <a href="{{projs.image.url}}">{{projs.image.url}}</a> -->
                        </div>

                    </div>

                    <strong class="w3-right w3-opacity mb-2">{{projs.date}}</strong>
                </div>





                <!-- End Middle Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-col m2">
                <div class="w3-card w3-round w3-white w3-center">
                    <div class="w3-container">

                        <p class="mt-2"><strong>Your Projects:</strong></p>

                    </div>
                </div>
                <br>
                {% for pr in rprojs %}
                <div class="w3-card w3-round w3-white w3-center">
                    <div class="w3-container my-2 pt-3">
                        <img src="{{pr.image.url}}" alt="Avatar" style="width:75%" class="mt-2">
                        <hr>
                        <span class="h5 mb-1"><a href="/manage_project/{{pr.id}}"
                                class="badge badge-dark text-wrap mb-2 text-decoration-none">{{pr.pname}}</a></span>
                        <div class="w3-row w3-opacity">
                            <div class="text-center">

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                {% endfor %}


                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>

    </div>
    <br>

    <!-- Footer -->
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">

                </a>
                <span class="text-muted">Developed by 2GI21CS188</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a href="https://www.instagram.com/_sambhram_13/"> <i class="fa-brands fa-instagram fa-lg"></i></a>
                </li>
                <li class="ms-3"><a href="https://www.linkedin.com/in/sambhram-mathad-4ab916266/"><i class="fa-brands fa-linkedin fa-lg"></i></a>
                </li>
                <li class="ms-3"><a href="https://github.com/SambhramMathad13"> <i class="fa-brands fa-github fa-lg"></i></a>
                </li>
                <li class="ms-3"><a href="https://gmail.com/sambhrammathad@gmail.com"> <i class="fa-regular fa-envelope fa-lg"></i></a>
                </li>
                
            </ul>
        </footer>
    </div>


</body>

</html>